body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color:aliceblue
}

button {
  background-color:darkcyan;
  border-radius: 12px;
  box-shadow:transparent;
margin: 3%;
  font-weight: 600;
  /* font-size: 22px; */
  border-color: transparent;
}

.card {
  width: 500px;
}


.column50 {
  max-width:200px;
  margin:5%;
  float:left;
  flex-flow: row;
  /* margin-left: 18%; */
}

label {
  margin: 2%;
}

.calender-container {
  width: 250px;
  color:blueviolet;
  background-color: chocolate;
}